body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background: #dddcdc;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: #2c3e50;
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    padding: 0;
    padding-left: 15px;
    margin-bottom: 15px;
}
li {
    margin: 0 0 5px 10px;
}
hr {
    border: none;
    border-top: 1px solid #b2b2b2;
    margin: 16px 0;
}
a {
    color: #2980b9;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.block {
    display: block;
}
.text--smaller {
    font-size: smaller;
}
.text--italic {
    font-style: italic;
}
.ml-medium {
    margin-left: 20px;
}
.mt-small {
    margin-top: 5px;
}
.mt-none {
    margin-top: 0px;
}
.mb-none {
    margin-bottom: 0px;
}
.mb-small {
    margin-bottom: 5px;
}
.container {
    max-width: 700px;
    margin: 40px auto;
    background: #f2eeee;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    padding: 16px;
    position: relative;
}
.center {
    text-align: center;
}
.width-100 {
    width: 100%;
}
.width-80 {
    width: 80%;
}
.list-style-none {
    list-style: none;
}
.abstract {
    font-size: smaller;
    font-style: italic;
    color: #8aa5bf;
}
.panel {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}


.abilities {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}
.abilities-header th {
    border-bottom: 1px solid #b2b2b2;
}